<!DOCTYPE html>
<html lang="es">

<head>
  <%- include('../partials/head')%>
      <link rel="stylesheet" href="/css/products/productCategory.css" />
      <title>Categorias - El Rincón del Café</title>
</head>

<body class="body__product-detail">

  <%- include('../partials/header')%>
  <main>
    <h1 class="title">NUESTROS PRODUCTOS</h1>

    <div class="container__product-detail">


      <div class="container__category-name">
        <a href="/products">
          <div class="container__category">
            <div class="container__category-title1 cont__desktop-size">
            </div>
            <h3 class="category__title title__desktop-size">Bebida</h3>
          </div>
        </a>

        <a href="/products">
          <div class="container__category">
            <div class="container__category-title2 cont__desktop-size">
            </div>
            <h3 class="category__title title__desktop-size">Café en grano</h3>
          </div>
        </a>

        <a href="/products">
          <div class="container__category">
            <div class="container__category-title3 cont__desktop-size">
            </div>
            <h3 class="category__title title__desktop-size">Café molido</h3>
          </div>
        </a>

        <a href="/products">
          <div class="container__category">
            <div class="container__category-title4 cont__desktop-size">
            </div>
            <h3 class="category__title title__desktop-size">Café en capsulas</h3>
          </div>
        </a>
      </div>
    </div>
  </main>
  <%- include('../partials/footer')%>
</body>

</html>