<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head')%>
        <link rel="stylesheet" href="/css/products/productGeneration.css" />
        <title>Generación de Productos - El Rincón del Café</title>
</head>


<body>
    <%- include('../partials/header')%>

        <main>
            <section class="edition-form">
                <div class="container-form">
                    <h2 class="title-register">GENERAR PRODUCTO</h2>

                    <form class="complete-form" method="POST" action="/products" enctype="multipart/form-data">
                        
                        <input class="input-form" type="text" id="name-product" name="name"
                            placeholder="Nombre del producto" />

                        <div class="contenedor_radio">
                            <label class="titulo-radio">
                                Categoria de Producto<br />
                            </label>
                            <label class="label_radio">
                                <input type="radio" name="category" value="bebida" required /> Bebida
                            </label>
                            <label class="label_radio">
                                <input type="radio" name="category" value="grano" required /> Café en Grano
                            </label>
                            <label class="label_radio">
                                <input type="radio" name="category" value="molido" required /> Café Molido
                            </label>
                            <label class="label_radio">
                                <input type="radio" name="category" value="capsulas" required /> Café en Capsulas
                            </label>
                        </div>

                        <input class="input-form" type="number" id="price" name="price" step="0.01" min="0"
                            placeholder="Precio" />

                        <input class="input-form" type="number" id="amount" name="amount" placeholder="Cantidad" />

                        <textarea class="input-form" id="descripcion" name="description" rows="5" cols="50"
                            placeholder="Descripción"></textarea>

                        <div class="contenedor_foto">
                            <label class="titulo-foto">
                                Foto de Producto
                            </label>
                            <div class="contenedor-upload">
                                <label for="file-upload" class="custom-file-input">
                                    Elegir Archivo
                                    <input type="file" name="image" id="file-upload" accept=".jpg, .jpeg, .png">
                                </label>
                                <span class="file-name-container">Ningún archivo seleccionado</span>
                            </div>
                        </div>

                        <div class="contenedor-enviar-reset">
                            <label for="boton_reset" class="boton_reset-custom">
                                REESTABLECER
                                <input id="boton_reset" type="reset" value="REESTABLECER">
                            </label>
                            <label for="boton_enviar" class="boton_enviar-custom">
                                GENERAR
                                <input id="boton_enviar" type="submit" value="ENVIAR">
                            </label>
    
                        </div>
                    </form>

                    
                </div>
            </section>
        </main>

        <%- include('../partials/footer')%>

</body>



</html>