<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head')%>
    <link rel="stylesheet" href="/css/products/productEdition.css" />
    <title>El Rincón del Café</title>
</head>

<body>

    <%- include('../partials/header')%>
    

    <main>
        <section class="edition-form">
            <div class="container-form">
                <h2 class="title-register">EDICION DE PRODUCTO</h2>

                <form class="complete-form">
                    <input class="input-form" type="number" id="id-product" name="id-product" placeholder="ID"
                        required />

                    <input class="input-form" type="text" id="name-product" name="name-product"
                        placeholder="Nombre del producto" required />

                    <div class="contenedor_radio">
                        <label class="titulo-radio">
                            Categoria de Producto<br />
                        </label>
                        <label class="label_radio">
                            <input type="radio" name="category" value="bebida" required /> Bebida
                        </label>
                        <label class="label_radio">
                            <input type="radio" name="category" value="grano" required /> Café en Grano
                        </label>
                        <label class="label_radio">
                            <input type="radio" name="category" value="molido" required /> Café Molido
                        </label>
                        <label class="label_radio">
                            <input type="radio" name="category" value="capsulas" required /> Café en Capsulas
                        </label>
                    </div>

                    <input class="input-form" type="number" id="price" name="price" step="0.01" min="0"
                        placeholder="Precio" required />

                    <input class="input-form" type="number" id="amount" name="amount" placeholder="Cantidad" required />

                    <textarea class="input-form" id="descripcion" name="descripcion" rows="5" cols="50"
                        placeholder="Descripción" required></textarea>

                    <div class="contenedor_foto">
                        <label class="titulo-foto">
                            Foto de Producto
                        </label>
                        <div class="contenedor-upload">
                            <label for="file-upload" class="custom-file-input">
                                Elegir Archivo
                                <input type="file" id="file-upload" accept=".jpg, .jpeg, .png" required>
                            </label>
                            <span class="file-name-container">Ningún archivo seleccionado</span>
                        </div>
                    </div>
                </form>

                <div class="contenedor-enviar-reset">
                    <label for="boton_reset" class="boton_reset-custom">
                        REESTABLECER
                        <input id="boton_reset" type="reset" value="REESTABLECER">
                    </label>
                    <label for="boton_enviar" class="boton_enviar-custom">
                        EDITAR
                        <input id="boton_enviar" type="submit" value="ENVIAR">
                    </label>
                </div>
            </div>
        </section>
    </main>

   
</body>

        <%- include('../partials/footer')%>

</html>