<!DOCTYPE html>
<html lang="es">
<head>
    <%- include('../partials/head')%>
    <link rel="stylesheet" href="/css/products/products.css">
    <title>El Rincón del Café</title>
</head>
<body class="body__product-detail">

    <%- include('../partials/header')%>
    
    
   
    <h1 class="title">NUESTROS PRODUCTOS</h1>

    <div class="container__product-detail">

        
        <div class="container__category-name">
            <div class="container__category">
                <div class="container__category-title coffee__ground">
                </div>
                <p class="category__title title__desktop-size title__desktop-size--default">Café molido</p>
            </div>

            <div class="container__category">
                <div class="container__category-title coffee__capsules cont__desktop-size">
                </div>
                <p class="category__title title__desktop-size">Café en cápsulas</p>
            </div>

            <div class="container__category">
                <div class="container__category-title coffee__drink cont__desktop-size">
                </div>
                <p class="category__title title__desktop-size">Café</p>
            </div>

            <div class="container__category">
                <div class="container__category-title coffee__grain cont__desktop-size">
                </div>
                <p class="category__title title__desktop-size">Café en grano</p>
            </div>

            <div class="container__search-bar"> 
                <input class="input__search-bar" placeholder="Buscar Producto" type="text">
                <i class="icon__search-bar fa-solid fa-magnifying-glass"></i>
            </div>
        </div>
            
            
       
        
    
        <main class="main__product-detail">
            
            <section class="section__cards">
    
                <div class="container__cards">
                    <article class="card">
                        <i class="icon__prod-edit--admin fa-solid fa-pen-to-square"></i>
                        <img class="card__img" src="/images/cafegrano.png" alt="imagen-producto">
                        <div class="card__cont-title-product">
                            <p class="card__title">Producto 1</p>
                            <p class="card__price">$ 5.000,00</p>
                        </div>
                        
                        <div class="card__add-chart">
                            <button  type="button"class="card__add-chart--text">Añadir al carrito</button>
                        </div>
                    </article>
                    <article class="card">
                        <i class="icon__prod-edit--admin fa-solid fa-pen-to-square"></i>
                        <img class="card__img" src="/images/cafegrano.png" alt="imagen-producto">
                        <div class="card__cont-title-product">
                            <p class="card__title">Producto 2</p>
                            <p class="card__price">$ 5.000,00</p>
                        </div>
                      
                        <div class="card__add-chart">
                            <button  type="button"class="card__add-chart--text">Añadir al carrito</button>
                        </div>
                    </article>
                    <article class="card">
                        <i class="icon__prod-edit--admin fa-solid fa-pen-to-square"></i>
                        <img class="card__img" src="/images/cafegrano.png" alt="imagen-producto">
                        <div class="card__cont-title-product">
                            <p class="card__title">Producto 3</p>
                            <p class="card__price">$ 5.000,00</p>
                        </div>
                        
                        <div class="card__add-chart">
                            <button  type="button"class="card__add-chart--text">Añadir al carrito</button>
                        </div>
                    </article>
                    <article class="card">
                        <i class="icon__prod-edit--admin fa-solid fa-pen-to-square"></i>
                        <img class="card__img" src="/images/cafegrano.png" alt="imagen-producto">
                        <div class="card__cont-title-product">
                            <p class="card__title">Producto 4</p>
                            <p class="card__price">$ 5.000,00</p>
                        </div>
                        
                        <div class="card__add-chart">
                            <button  type="button"class="card__add-chart--text">Añadir al carrito</button>
                        </div>
                    </article>
                    <article class="card card__desktop">
                        <i class="icon__prod-edit--admin fa-solid fa-pen-to-square"></i>
                        <img class="card__img" src="/images/cafegrano.png" alt="imagen-producto">
                        <div class="card__cont-title-product">
                            <p class="card__title">Producto 4</p>
                            <p class="card__price">$ 5.000,00</p>
                        </div>
                        
                        <div class="card__add-chart">
                            <button  type="button"class="card__add-chart--text">Añadir al carrito</button>
                        </div>
                    </article>
                    <article class="card card__desktop">
                        <i class="icon__prod-edit--admin fa-solid fa-pen-to-square"></i>
                        <img class="card__img" src="/images/cafegrano.png" alt="imagen-producto">
                        <div class="card__cont-title-product">
                            <p class="card__title">Producto 4</p>
                            <p class="card__price">$ 5.000,00</p>
                        </div>
                        
                        <div class="card__add-chart">
                            <button  type="button"class="card__add-chart--text">Añadir al carrito</button>
                        </div>
                    </article>
                </div>
    
                <div class="container__btn">
                    <a class="btn__link-prev" href="/">
                        <p class="btn__text--prev"><<< Pág anterior</p>
                    </a>
    
                    <button type="button"class="card__add-chart--text btn__back">
                        Volver
                    </button>
                    
                    <a class="btn__link-next" href="/">
                        <p class="btn__text btn__text--next">Pág siguiente >>></p>
                    </a>
                </div>
                
            </section>
    
        </main>
    </div>
   
    

   
</body>

        <%- include('../partials/footer')%>
</html>