<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/normalize.css" />
    <link rel="stylesheet" href="/css/styles-h&f.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <title>Document</title>
  </head>
  <body>
    <header>
      <section class="nav-bar">
        <article class="container flex-nav">
          <div class="nav-header">
            <i class="fas fa-bars"></i>
            <i class="fa-solid fa-mug-hot">logo real</i>
            <div class="nav-bar-icons">
              <i class="fa-solid fa-magnifying-glass"></i>
              <i class="fa-regular fa-user"></i>
              <i class="fa-solid fa-cart-shopping"></i>
            </div>
          </div>
          <nav class="nav__links">
            <ul>
              <li class="nav__link"><a href="#">Inicio</a></li>
              <li class="nav__link"><a href="#">Nosotros</a></li>
              <li class="nav__link"><a href="#">Productos</a></li>
              <li class="nav__link"><a href="#">Suscripcion</a></li>
              <li class="nav__link"><a href="#">Contacto</a></li>
              <li class="nav__link"><a href="#">Mi Perfil</a></li>
            </ul>
          </nav>
        </article>
      </section>
    </header>
    <main>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur velit
      laboriosam necessitatibus illum placeat inventore, natus accusamus ea ab
      fugiat! Fugit corrupti nobis obcaecati quos fuga excepturi. Ducimus,
      voluptas distinctio.
    </main>
    <footer class="footer">
      <section class="footer__list1">
        <ul>
          <li class="footer__link"><a href="">Términos y condiciones</li></a>
          <li class="footer__link">Redes sociales</li>
          <li class="footer__link--logos">
            <a href=""><i class="fa-brands fa-facebook"></i></a>
            <a href=""><i class="fa-brands fa-instagram"></i></a>
            <a href=""><i class="fa-brands fa-square-x-twitter"></i></a>
          </li>
        </ul>
      </section>
      <section class="footer__list2">
        <ul>
          <li class="footer__link"><a href="#">Políticas de privacidad</a></li>
          <li class="footer__link">Contacto</li>
          <li class="footer__link"><a href="#">contacto@elrincondelcafe.com</a></li>
          <li class="footer__link">+54 1234-1234</li>
        </ul>
      </section>
      <p>Todos los derechos reservados 2023</p>
      <p>El-Rincón-del-Café</p>
    </footer>
  </body>
</html>
