<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/normalize" />
    <link rel="stylesheet" href="/css/index" />
    <title>Home-El Rincón del Café</title>
  </head>
  <body>
    <header>
      <nav>
        <ul>
          <li>este es el header</li>
        </ul>
      </nav>
    </header>

    <main>
      <section>
        <article>circulitos del inicio</article>
      </section>

      <section>
        <article>fotos carrusel</article>
      </section>

      <section>
        <article>los 4 productos mas vendidos de cada categoria</article>
      </section>

      <section>
        <article>suscripcion</article>
      </section>
    </main>
  </body>
  <footer>
    <p>este es el footer</p>
  </footer>
</html>
