<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/normalize.css" />
    <link rel="stylesheet" href="/css/index.css" />
    <title>Home-El Rincón del Café</title>
  </head>
  <body>
    <header></header>

    <main>
      <section>
        <article class="circles">
          <div class="circle1">
            <h3 class="text-circle">Bebida</h3>
            <img
              class="img-circles"
              src="images/Bebida.jpg"
              alt="foto-bebida"
            />
          </div>
          <div class="circle2">
            <h3 class="text-circle">Cafe en Grano</h3>
            <img
              class="img-circles"
              src="images/cafegrano.png"
              alt="foto-cafegrano"
            />
          </div>
          <div class="circle3">
            <h3 class="text-circle">Cafe Molido</h3>
            <img
              class="img-circles"
              src="images/cafemolido.jpg"
              alt="foto-cafemolido"
            />
          </div>
          <div class="circle4">
            <h3 class="text-circle">Cafe en Capsulas</h3>
            <img
              class="img-circles"
              src="images/capsula.jpg"
              alt="foto-capsula"
            />
          </div>
        </article>
      </section>

      <section>
        <article class="carrousel-container">
          <img src="images/cafegrano.png" alt="foto-cafegrano" />
          <img src="images/cafemolido.jpg" alt="foto-cafemolido" />
          <img src="images/Bebida.jpg" alt="foto-bebida" />
        </article>
        <div class="carousel-indicators">
          <span class="indicator"></span>
          <span class="indicator"></span>
          <span class="indicator"></span>
        </div>

        <script src="carousel.js"></script>

        <div class="line"></div>
      </section>

      <section>
        <article>
          <h2 class="title-products">Nuestros productos más vendidos</h2>
          <h4 class="subtitle-products">
            Lorem ipsum dolor, sit amet consectetur
          </h4>
        </article>
        <article class="product-box">
          <img src="images/capsula.jpg" alt="foto-capsula-product" />
          <h3 class="product1">Producto 1</h3>
          <h5 class="price-product">$Precio</h5>
          <div class="button-box">
            <button class="button-add" type="button">Añadir al carrito</button>
          </div>
        </article>
      </section>

      <section>
        <article>suscripcion</article>
      </section>
    </main>
  </body>
  <footer></footer>
</html>
