<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/normalize.css" />
  <link rel="stylesheet" href="/css/login.css" />
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" rel="stylesheet">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link
      href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
      rel="stylesheet">
  <title>El Rincón del Café</title>
</head>
<body>

  <header>
    <section class="nav-bar">
      <article class="container flex-nav">
          <div class="nav-header">
              <i class="fas fa-bars"></i>
              <img class="logo_imagen" src="/images/logo.svg" alt="">
              <img class="logo_completo" src="/images/logocompleto.svg" alt="">
                    <nav class="nav__links">
                        <ul class="menu_desktop">
                            <li><a class="nav__menu" href="#">Inicio</a></li>
                            <li><a class="nav__menu" href="#">Nosotros</a></li>
                            <li><a class="nav__menu" href="#">Productos</a></li>
                            <li><a class="nav__menu" href="#">Suscripcion</a></li>
                            <li><a class="nav__menu" href="#">Contacto</a></li>
                            <li><a class="nav__menu" href="#">Mi Perfil</a></li>
                        </ul>
                    </nav>
                    <div class="nav-bar-icons">
                        <i class="fa-solid fa-magnifying-glass"></i>
                        <i class="fa-regular fa-user"></i>
                        <i class="fa-solid fa-cart-shopping"></i>
                    </div>
                </div>
            </article>
        </section>

  </header>

  <Main class="container-imagen-de-fondo">


    <section class="section-login">

      <div class="container-izquierdo-desktop">

        <p>
          Inicia sesión y empezá a disfrutar de nuestros productos!
        </p>


      </div>

      <div class="container-login">


        <h2 class="login-name">INICIAR SESION</h2>
        
        <form class="login-form" action="/login" method="POST">
        
        <P>
        
          <label for="usuario">Usuario</label>
          <input class="parrafo-usuario" type="text" name="usuario" id="Usuario">
      
        </P>

        <P>
          
          <label for="contraseña">Contraseña</label>
          <input class="parrafo-contraseña" type="password" name="clave" id="Contraseña">
      
        </P>

        <label class="checkbox-recordarme">
          <input class="recordarme" type="checkbox">Recordarme
        </label>
  
        <p >
          <button class="login-button" type="submit">INGRESA</button>
        </p>


      </form>

      </div>
    

    </section>

    <section>

    <p class="parrafo-olvide-contraseña">Olvidé la contraseña</p>
    <p class="parrafo-crear-cuenta">Crear Cuenta</p>

  </section>



  </Main>

  <footer>

    <div class="caja_footer">
      <section class="footer__list1">
          <ul>
              <li class="footer__link1"><a href="">Términos y condiciones</li></a>
              <li class="footer__link2">Redes sociales</li>
              <li class="footer__link--logos">
                  <a href=""><i class="fa-brands fa-facebook"></i></a>
                  <a href=""><i class="fa-brands fa-instagram"></i></a>
                  <a href=""><i class="fa-brands fa-square-x-twitter"></i></a>
              </li>
          </ul>
      </section>
      <section class="footer__list2">
          <ul>
              <li class="footer__link1"><a href="#">Políticas de privacidad</a></li>
              <li class="footer__link2">Contacto</li>
              <li class="footer__link"><a href="#">contacto@elrincondelcafe.com</a></li>
              <li class="footer__link">+54 1234-1234</li>
          </ul>
      </section>
  </div>
  <div class="derechos">
  <p>Todos los derechos reservados 2023</p>
  <p>El-Rincón-del-Café</p>
  </div>


  </footer>
  
</body>
</html>