:root {
  /* Paleta de colores */
  --marron: #9f3c1d;
  --rojo: #e51414;
  --negro: #000000;
  --cafe: #702122;
  --blanco: #ffffff;
  --gris: #e1dfdf;
  --botones: #e1dfb2;
  --fondo: #fafafa;
}

/*Header */
.nav-header {
  background: #ebdb9b;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 40px;
  padding: 10px;
}

/* Estilos de los circulos de main*/
.circles {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 6%;
  width: 90%;
  justify-content: center;
  margin: auto;
}
.img-circles {
  width: 100%;
  width: 20vw;
  height: 20vw;
  border-radius: 55px;
}
.circle1,
.circle2,
.circle3,
.circle4 {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  width: 20%;
  margin-top: 10px;
}

/* Estilos de los textos que van dentro de los circulos por productos*/
.text-circle {
  font-size: 2vw;
  width: 100%;
  z-index: 1;
  color: black;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  font-style: normal;
}

/* Estilos del carrusel */
.carrousel-container {
  display: flex;
  width: 100%;
  height: 50vh;
  overflow-x: scroll;
  scroll-snap-type: x mandatory;
  animation: slide 9s infinite;
}
.carrousel-container img {
  flex: 0 0 100%;
  width: 100%;
  object-fit: cover;
  scroll-snap-align: center;
}

/*  Circulitos que indican posicion de foto en la que me encuentro en carrousel*/
.carousel-indicators {
  display: flex;
  justify-content: center;
  gap: 10px;
  padding: 10px;
}

.indicator {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #ccc;
}
/*
.indicator.active {
  background-color: #333;
}
*/

.line {
  width: 90%;
  height: 1px;
  background: #d9d9d9;
  margin: auto;
  margin-top: 10px;
  margin-bottom: 30px;
}
/*Titulo de nuestros productos mas vendidos */
.title-products {
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  font-style: normal;
  text-align: center;
  color: #702122;
}
/* Subtitulo de nuestros productos mas vendidos*/
.subtitle-products {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-style: normal;
  text-align: center;
  color: #702122;
  margin-top: 20px;
  margin-bottom: 10px;
}

/* LINKS FOOTER */
a {
  text-decoration: none;
  color: var(--negro);
}

/* FOOTER COMPLETO */
footer {
  background-color: #e8e6c5;
  text-align: center;
  padding: 20px;
  margin-top: 30px;
}

/* CAJA FOOTER */
.caja_footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

/* COLUMNAS FOOTER */
.footer__list1,
.footer__list2 {
  color: var(--negro);
  width: 50%;
  margin-bottom: 15px;
}

/* ELEMENTOS LI FOOTER */
.footer__link {
  list-style: none;
  font-size: 18px;
  margin-bottom: 10px;
  font-family: 'Poppins', sans-serif;
  font-weight: 200;
  font-style: normal;
  font-size: 10px;
}

/* CAJA ICONOS REDES SOCIALES */
.footer__link--logos {
  font-size: 20px;
  list-style: none;
  margin: 15px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 15px;
}

/* UL FOOTER */
ul {
  padding: 0px;
}

/* CAJA ELEMENTOS LI FOOTER 1 */
.footer__link1 {
  list-style: none;
  font-size: 18px;
  margin-bottom: 10px;
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 13px;
  margin-top: 8px;
}

/* CAJA ELEMENTOS LI FOOTER 2 */
.footer__link2 {
  list-style: none;
  font-size: 18px;
  margin-bottom: 10px;
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 13px;
  margin-top: 30px;
}

/* DERECHOS RESERVADOS */
.derechos {
  list-style: none;
  font-size: 18px;
  margin-bottom: 10px;
  font-family: 'Poppins', sans-serif;
  font-weight: 200;
  font-style: normal;
  font-size: 12px;
}
