:root {
    /* Paleta de colores */
    --marron: #9f3c1d;
    --rojo: #e51414;
    --negro: #000000;
    --cafe: #702122;
    --background-hf:#ecdb9b;
    --blanco: #ffffff;
    --gris: #e1dfdf;
    --botones: #e1dfb2;
    --fondo: #fafafa;
    --fondo-footer: #E8E6C5;
  }

* {
    font-family: 'Poppins', sans-serif;
}

.header-apoyo {
    background-color: var(--background-hf) ;
    width: 100%;
    height: 12vh;
}

.title {
    text-align: center;
    color: var(--cafe);
    font-weight: bold;
    font-size: 1.6em;
    margin-top: 5%;
    margin-bottom: 8%;
}

.container {
    padding: 5%;
}

.card {
    padding: 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.218) 10px 10px 30px 1px;
}

.card__img {
    width: 90%;
    height: 300px;
    box-shadow: rgba(0, 0, 0, 0.218) 5px 5px 10px 1px;
}

.card__cont-title-product {
    display: flex;
    margin-top: 3%;
    margin-bottom: 5%;
    width: 90%;
    justify-content: space-between;
}

.card__price {
    color: var(--cafe);
    font-weight: bold;
    text-shadow: #7021226c 3px 5px 5px;
}

.card__description {
    border: 2px solid var(--gris);
    border-radius: 8%;
    padding: 2%;
    box-shadow: var(--gris) 3px 5px 5px 3px;
}

.card__description-title {
    margin-top: 5%;
    margin-bottom: 0;
}
.card__description-text {
    margin-top: 0;
}
.card__description-title, .card__description-text {
    font-weight: 300;
    font-size: 0.8rem;
}

.card__counter {
    display: flex;
    margin-top: 8%;
    justify-content: space-evenly;
    width: 50%;
    align-items: flex-start;
    border-bottom: var(--gris) solid 1px;
    border-left: var(--gris) solid 1px;
    border-radius: 8%;
    box-shadow: var(--gris) 3px 5px 5px 3px;    
}


.card__counter-add, .card__counter-minus {
    border: none;
    background-color: white;
    font-weight: 300;
    font-size: 0.9rem;
}

.card__counter-number {
    font-weight: 300;
    margin: 0;
}

.card__add-chart {
    display: flex;
    background-color: transparent;
    justify-content: center;
    align-items: center ;
    border: none;
    margin-top: 15%; 
    width: 75%;  
}

.card__add-chart--text {
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    background-color: var(--botones);
    font-weight: 600;
    font-size: 0.9rem;
    color: var(--cafe);
    width: 100%;
    border: none;
    border-radius: 10%;
    padding-top: 3%;
    padding-bottom: 3%;
    border-radius: 39px;
}