:root {
  /* Paleta de colores */
  --marron: #9f3c1d;
  --rojo: #e51414;
  --negro: #000000;
  --cafe: #702122;
}

.titulo_pagina {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
  color: var(--cafe);
  display: flex;
  width: 100vw;
  justify-content: center;
}

.imagen_producto {
  display: flex;
  width: 30vw;
}

.primer-producto,
.segundo-producto,
.tercer-producto,
.cuarto-producto {
  display: flex;
  width: 100vw;
  justify-content: space-around;
}

.precio-cantidad {
  display: flex;
}

.producto {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 14px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: start;
}

.precio {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 10px;
  color: var(--marron);
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.cantidad {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 10px;
  width: 100%;
  display: flex;
  justify-content: start;
  align-items: center;
}

.boton-eliminar {
  width: 100%;
  justify-content: center;
}
