/* ROOT*/
:root {
  /* Paleta de colores */
  --marron: #9f3c1d;
  --rojo: #e51414;
  --negro: #000000;
  --cafe: #702122;
  --blanco: #ffffff;
  --gris: #e1dfdf;
  --botones: #e1dfb2;
  --fondo: #fafafa;
}

/*BODY*/
body {
  background-color: var(--fondo);
}

/* CARRITO*/
.titulo_pagina {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 20px;
  color: var(--cafe);
  display: flex;
  width: 100vw;
  justify-content: center;
}

/* IMAGENES DE LOS PRODUCTOS*/
.imagen_producto {
  display: flex;
  width: 30%;
  border: 1px solid var(--negro);
  border-radius: 10px;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
}

/* CAJA DE PRODUCTO, INCLUYE TITULO, CANTIDAD, PRECIO, BOTON ELIMINAR*/
.caja-productos {
  display: flex;
  flex-direction: column;
}

/* ARTICULOS*/
.primer-producto,
.segundo-producto,
.tercer-producto,
.cuarto-producto {
  display: flex;
  width: 100%;
  justify-content: space-around;
  padding-top: 20px;
  padding-bottom: 20px;
}

/* ARTICULOS*/
.segundo-producto,
.tercer-producto,
.cuarto-producto {
  border-top: 1px solid var(--gris);
}

/* CAJA DE PRECIO Y CANTIDAD*/
.precio-cantidad {
  display: flex;
  width: 100%;
  justify-content: space-around;
}

/* TITULO DEL PRODUCTO*/
.producto {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 16px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: start;
  margin-bottom: 3px;
  margin-top: 3px;
}

/* PRECIO*/
.precio {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 10px;
  text-align: center;
  color: var(--marron);
  width: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--negro);
  border-radius: 6px;
}

/* CANTIDAD*/
.cantidad {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 10px;
  text-align: center;
  width: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: max-content;
  margin-top: 10px;
  margin-bottom: 10px;
  border: 1px solid var(--negro);
  border-radius: 6px;
}

/* CAJA BOTON ELIMINAR*/
.caja-boton {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

/* BOTON ELIMINAR*/
.boton-eliminar {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: 10px;
  width: 50%;
  padding: 3px;
  background-color: var(--rojo);
  color: var(--blanco);
  border-radius: 6px;
  border: 0px;
  margin-top: 5px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

/* CAJA DE TODOS LOS PRODUCTOS*/
.seccion_productos {
  box-shadow: 0px 0px 10px rgb(100, 100, 100);
  border-radius: 10px;
  margin: 15px;
}

/* TACHO DE BASURA*/
.fa-regular.fa-trash-can {
  padding-right: 10px;
}

/* CAJA DE BOTONES DE COMPRAR Y DE VACIAR*/
.caja-comprar-vaciar {
  margin-top: 30px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

/* BOTON COMPRAR*/
.boton-comprar {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: 20px;
  width: 40vw;
  padding: 3px;
  background-color: var(--botones);
  color: var(--cafe);
  border-radius: 39px;
  border: 0px;
  margin-top: 5px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

/* BOTON VACIAR*/
.boton-vaciar {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: 20px;
  width: 40vw;
  padding: 3px;
  background-color: var(--botones);
  color: var(--cafe);
  border-radius: 39px;
  border: 0px;
  margin-top: 5px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
