/* ROOT*/
:root {
  /* Paleta de colores */
  --marron: #9f3c1d;
  --rojo: #e51414;
  --negro: #000000;
  --cafe: #702122;
  --blanco: #ffffff;
  --gris: #e1dfdf;
  --botones: #e1dfb2;
  --fondo: #fafafa;
}

/*BODY*/
body {
  background-color: var(--fondo);
}

/* HEADER COMPLETO*/
.nav-header {
  background: #ebdb9b;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 40px;
  padding: 10px;
}

.menu_desktop {
  display: none;
  width: 110%;
  list-style: none;
  gap: 20px;
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 100%;
  justify-content: center;
}

/* LISTADO MENU DESKTOP */
.nav__menu {
  color: var(--cafe);
}

/* LOGO*/
.logo_imagen {
  display: flex;
  width: 45px;
}

/*LOGO RESPONSIVE TABLET - DESKTOP*/
.logo_completo {
  display: none;
  width: 120px;
}

/* MENU HAMBURGUESA */
.fa-bars {
  width: 30%;
  margin-left: 5px;
}

/* CAJA DE ICONOS HEADER */
.nav-bar-icons {
  display: flex;
  gap: 15px;
  width: 30%;
  justify-content: end;
}

/* MAIN */

main {
  width: 90%;
  margin: auto;
}
.section-login {
  display: flex;
  justify-content: center;
}

.container-login {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Poppins', sans-serif;
  font-size: 15px;
  color: #702122;
  border-radius: 40px;
  background-color: rgba(232, 230, 197, 0.5);
  box-shadow: 0px 0px 10px rgb(100, 100, 100);
  margin-top: 35px;
  padding: 15px;
  margin-bottom: 35px;
  width: 90%;
  max-width: 400px;
}
.login-name {
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  font-size: 20px;
  color: #702122;
}
.complete-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
}

.input-form {
  width: 100%;
  padding: 10px;
  border: 2px solid var(--fondo);
  border-radius: 10px;
  font-size: 14px;
  font-family: 'Poppins', sans-serif;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
  color: var(--input);
  margin-bottom: 10px;
  margin-top: 5px;
}

.checkbox-recordarme {
  display: flex;
  font-family: 'Poppins', sans-serif;
  font-size: 15px;
  font-weight: light;
  color: #702122;
  margin-bottom: 10px;
}
.login-button {
  display: flex;
  justify-content: center;
  padding: 5px;
  width: 100%;
  border-radius: 15px;
  border-color: transparent;
  background-color: #e1dfb2;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.3);
  font-family: 'Poppins', sans-serif;
  font-weight: bold;
  font-size: 14px;
  color: #702122;
}

.button:hover {
  background-color: #702122;
  color: #e1dfb2;
}

.parrafo-olvide-contraseña {
  text-align: start;
  font-family: 'Poppins', sans-serif;
  font-size: 15px;
  font-weight: light;
  color: #702122;
  text-decoration: underline;
}

.parrafo-crear-cuenta {
  text-align: start;
  font-family: 'Poppins', sans-serif;
  font-size: 15px;
  font-weight: light;
  color: #702122;
  text-decoration: underline;
}

/* LINKS FOOTER */
a {
  text-decoration: none;
  color: var(--negro);
}

/* FOOTER COMPLETO */
footer {
  background-color: #e8e6c5;
  text-align: center;
  padding: 20px;
  margin-top: 30px;
}

/* CAJA FOOTER */
.caja_footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

/* COLUMNAS FOOTER */
.footer__list1,
.footer__list2 {
  color: var(--negro);
  width: 50%;
  margin-bottom: 15px;
}

/* ELEMENTOS LI FOOTER */
.footer__link {
  list-style: none;
  font-size: 18px;
  margin-bottom: 10px;
  font-family: 'Poppins', sans-serif;
  font-weight: 200;
  font-style: normal;
  font-size: 10px;
  word-wrap: break-word;
}

/* CAJA ICONOS REDES SOCIALES */
.footer__link--logos {
  font-size: 20px;
  list-style: none;
  margin: 15px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

/* UL FOOTER */
ul {
  padding: 0px;
}

/* CAJA ELEMENTOS LI FOOTER 1 */
.footer__link1 {
  list-style: none;
  font-size: 18px;
  margin-bottom: 10px;
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 13px;
  margin-top: 8px;
}

/* CAJA ELEMENTOS LI FOOTER 2 */
.footer__link2 {
  list-style: none;
  font-size: 18px;
  margin-bottom: 10px;
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 13px;
  margin-top: 30px;
}

/* DERECHOS RESERVADOS */
.derechos {
  list-style: none;
  font-size: 18px;
  margin-bottom: 10px;
  font-family: 'Poppins', sans-serif;
  font-weight: 200;
  font-style: normal;
  font-size: 12px;
}

/* MOBILE */

@media only screen and (max-width: 768px) {
  .container-izquierdo-desktop {
    display: none;
  }
}

/* TABLET */

@media only screen and (min-width: 768px) {
  .logo_completo {
    display: flex;
    justify-content: flex-start;
  }
  .nav-header {
    display: flex;
    justify-content: space-between;
  }
  .logo_imagen {
    display: none;
  }
  .fas.fa-bars {
    display: none;
  }
  .menu_desktop {
    display: flex;
    list-style: none;
    flex-direction: row;
  }

  .container-izquierdo-desktop {
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    font-size: 20px;
    color: #702122;
    margin-left: 20px;
    padding-right: 20px;
  }

  .section-login {
    display: flex;
    flex-direction: row;
    margin-right: 30px;
  }
}

/* DESKTOP */

@media only screen and (min-width: 1024px) {
  .container-izquierdo-desktop {
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    font-size: 20px;
    color: #702122;
    margin-left: 40px;
    padding-right: 30px;
  }
}
