<footer class="footer">
  <div class="footer__content">
    <div class="footer__section">
      <ul class="footer__items">
        <li><a href="#" class="footer__link">Términos y condiciones</a></li>
        <li class="footer__title">Redes sociales</li>
        <li>
          <a href="https://www.facebook.com/" class="footer__social"
            ><i class="fa-brands fa-facebook"></i
          ></a>
          <a href="https://www.instagram.com/" class="footer__social"
            ><i class="fa-brands fa-instagram"></i
          ></a>
          <a href="https://twitter.com/" class="footer__social"
            ><i class="fa-brands fa-twitter"></i
          ></a>
        </li>
      </ul>
    </div>
    <div class="footer__section">
      <ul class="footer__items">
        <li><a href="#" class="footer__link">Políticas de privacidad</a></li>
        <li class="footer__title">Contacto</li>
        <li>
          <a href="mailto:contacto@elrincondelcafe.com" class="footer__link"
            >contacto@elrincondelcafe.com</a
          >
        </li>
        <li class="footer__link">+54 1234-1234</li>
      </ul>
    </div>
  </div>
  <div class="footer__rights">
    <p>Todos los derechos reservados 2023 - El-Rincón-del-Café</p>
  </div>
</footer>
