<header>
  <section class="nav-bar">
    <article class="container-flex-nav">
      <div class="nav-header">
        <nav id="menu_hambur">
          <div id="menuToggle">
            <input type="checkbox" />
            <span></span>
            <span></span>
            <span></span>
            <ul id="menu">
              <a href="/"><li>Inicio</li></a>
              <a href="/about-us"><li>Nosotros</li></a>
              <a href="/products/category"><li>Productos</li></a>
              <a href="/suscription"><li>Suscripcion</li></a>
              <a href="/contact"><li>Contacto</li></a>
            </ul>
          </div>
        </nav>
        <a class="logo_imagen" href="/"
          ><img class="imagen_logo_chico" src="/images/logo.svg" alt=""
        /></a>
        <a class="logo_completo" href="/"
          ><img
            class="imagen_logo_grande"
            src="/images/logocompleto.svg"
            alt=""
        /></a>
        <div class="brand">
          <h1>El Rincón del Café</h1>
        </div>

        <div>
          <ul class="header-list">
            <li><a href="/">Inicio</a></li>
            <li><a href="/about-us">Nosotros</a></li>
            <li><a href="/products">Productos</a></li>
            <li><a href="/suscription">Suscripción</a></li>
            <li><a href="/contact">Contacto</a></li>
          </ul>
        </div>
        <div class="nav-bar-icons">
          <i class="fa-solid fa-magnifying-glass"></i>
          <a class="fa-regular fa-user" href="/users/login"></a>
          <a class="fa-solid fa-cart-shopping" href="/products/cart"></a>
        </div>
      </div>
    </article>
  </section>
</header>
