<!DOCTYPE html>
<html lang="es">

<head>
  <%- include('../partials/head')%>
    <link rel="stylesheet" href="/css/main/aboutus.css" />
    <title>Sobre Nosotros - El Rincón del Café</title>

</head>

<body>
  <%- include('../partials/header')%>


    <main>
      <div class="aboutus_general">
        <section>
          <h2 class="titulo_pagina">SOBRE NOSOTROS</h2>
          <div class="seccion_aboutus">
            Bienvenido a El Rincón del Café, una cadena de cafeterías
            especializada en la venta de cafés de selección procedentes de
            distintas partes del mundo. En nuestra búsqueda constante de la
            excelencia, ofrecemos a nuestros clientes una experiencia única que
            resalta la diversidad y calidad de los granos de café.<br /><br />

            Nos enorgullece presentar una cuidadosa selección de granos de alta
            calidad provenientes de reconocidas regiones cafetaleras, como
            Colombia, Etiopía, Brasil, Jamaica y Costa Rica. Cada grano lleva
            consigo la esencia única de su terroir, proporcionando una amplia
            variedad de perfiles de sabor que van desde los suaves y afrutados
            hasta los intensos y especiados.<br /><br />

            En El Rincón del Café, no solo nos dedicamos a la venta de café;
            hemos creado un ambiente acogedor y culturalmente enriquecedor en
            cada una de nuestras tiendas. Nuestros espacios están decorados con
            elementos que evocan los diversos orígenes de nuestros productos,
            creando un entorno que invita a la exploración y la apreciación del
            mundo del café.<br /><br />

            Además de nuestras tiendas físicas, ofrecemos una experiencia de
            compra en línea para brindar comodidad a nuestros clientes. Ahora
            puedes recibir nuestros exclusivos cafés directamente en la puerta
            de tu hogar, permitiéndote disfrutar de la riqueza y diversidad del
            mundo del café desde la comodidad de tu espacio personal.<br /><br />

            El Rincón del Café no es simplemente un lugar para comprar café; es
            un destino para aquellos que desean sumergirse y disfrutar de la
            auténtica esencia del café. Te invitamos a explorar con nosotros y
            descubrir el deleite que cada taza de café puede ofrecer.<br /><br />

            ¡Esperamos que te unas a nosotros en esta apasionante travesía por
            el fascinante mundo del café!
          </div>
        </section>
      </div>
    </main>

    <%- include('../partials/footer')%>
</body>



</html>