<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/normalize.css" />
    <link rel="stylesheet" href="/css/main/index.css" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
        rel="stylesheet">
    <title>Home-El Rincón del Café</title>
  </head>
  <body>

    <header>
      <section class="nav-bar">
        <article class="container flex-nav">
          <div class="nav-header">
            <nav id="menu_hambur">
              <div id="menuToggle">
                <input type="checkbox" />
                <span></span>
                <span></span>
                <span></span>
                <ul id="menu">
                  <a href="/"><li>Inicio</li></a>
                  <a href="/about-us"><li>Nosotros</li></a>
                  <a href="/products"><li>Productos</li></a>
                  <a href="/suscription"><li>Suscripcion</li></a>
                  <a href="/contact"><li>Contacto</li></a>
                </ul>
              </div>
            </nav>
            <a class="logo_imagen" href="/"
              ><img class="imagen_logo_chico" src="/images/logo.svg" alt=""
            /></a>
            <a class="logo_completo" href="/"
              ><img
                class="imagen_logo_grande"
                src="/images/logocompleto.svg"
                alt=""
            /></a>
            <div class="brand">
              <h1>El Rincón del Café</h1>
            </div>

            <div>
              <ul class="header-list">
                <li><a href="/">Inicio</a></li>
                <li><a href="/about-us">Nosotros</a></li>
                <li><a href="/products">Productos</a></li>
                <li><a href="/suscription">Suscripción</a></li>
                <li><a href="/contact">Contacto</a></li>
              </ul>
            </div>
            <div class="nav-bar-icons">
              <i class="fa-solid fa-magnifying-glass"></i>
              <a class="fa-regular fa-user" href="/login"></a>
              <a class="fa-solid fa-cart-shopping" href="/productCart"></a>
            </div>
          </div>
        </article>
      </section>
    </header>

    <main>
      <section class="seccion1">
        <article class="circles">
          <div class="circle1">
            <h3 class="text-circle">BEBIDA</h3>
            <img
              class="img-circles"
              src="images/Bebida.jpg"
              alt="foto-bebida"
            />
          </div>
          <div class="circle2">
            <h3 class="text-circle">CAFE EN GRANO</h3>
            <img
              class="img-circles"
              src="images/cafegrano.png"
              alt="foto-cafegrano"
            />
          </div>
          <div class="circle3">
            <h3 class="text-circle">CAFE MOLIDO</h3>
            <img
              class="img-circles"
              src="images/cafemolido.jpg"
              alt="foto-cafemolido"
            />
          </div>
          <div class="circle4">
            <h3 class="text-circle">CAFE EN CAPSULAS</h3>
            <img
              class="img-circles"
              src="images/capsula.jpg"
              alt="foto-capsula"
            />
          </div>
        </article>
      </section>

      <section>
        <article class="carrousel-container">
          <img src="images/coffee1.jpeg" alt="foto-cafegrano" />
          <img src="images/coffeebarista.jpeg" alt="foto-cafemolido" />
          <img src="images/cafeto.jpeg" alt="foto-bebida" />
        </article>
        <div class="carousel-indicators">
          <span class="indicator"></span>
          <span class="indicator"></span>
          <span class="indicator"></span>
        </div>

        <script src="carousel.js"></script>

        <div class="line"></div>
      </section>

      <section class="section2">
        <article>
          <h2 class="title-products">Nuestros productos más vendidos</h2>
          <h4 class="subtitle-products">
            Lorem ipsum dolor, sit amet consectetur
          </h4>
        </article>
        <section class="boxes">
        <article class="product-box">
          <img
            class="img-product"
            src="images/capsula.jpg"
            alt="foto-capsula-product"
          />
          <h3 class="product1">Producto 1</h3>
          <h5 class="price-product">$Precio</h5>
          <div class="button-box">
            <button class="button-add" type="button">
              <p class="text-button-box">Añadir al carrito</p>
            </button>
          </div>
        </article>
        <article class="product-box2">
          <img
            class="img-product2"
            src="images/capsula.jpg"
            alt="foto-capsula-product"
          />
          <h3 class="product2">Producto 2</h3>
          <h5 class="price-product2">$Precio</h5>
          <div class="button-box">
            <button class="button-add2" type="button">
              <p class="text-button-box2">Añadir al carrito</p>
            </button>
          </div>
        </article>
      </article>
      <article class="product-box3">
        <img
        class="img-product3"
        src="images/capsula.jpg"
        alt="foto-capsula-product"
      />
        <h3 class="product2">Producto 3</h3>
        <h5 class="price-product3">$Precio</h5>
        <div class="button-box">
          <button class="button-add3" type="button">
            <p class="text-button-box3">Añadir al carrito</p>
          </button>
        </div>
      
      </article>
      <article class="product-box4">
        <img
          class="img-product4"
          src="images/capsula.jpg"
          alt="foto-capsula-product"
        />
        <h3 class="product4">Producto 4</h3>
        <h5 class="price-product">$Precio</h5>
        <div class="button-box">
          <button class="button-add4" type="button">
            <p class="text-button-box4">Añadir al carrito</p>
          </button>
        </div>
      </article>
        </section>
        <div class="carousel-indicators">
          <span class="indicator"></span>
          <span class="indicator"></span>
          <span class="indicator"></span>
          <span class="indicator"></span>
        </div>
        <div class="line"></div>
      </section>

      <section class="section3">
        <article>
          <h2 class="title-subscription">Suscripción</h2>
          <h4 class="subtitle-subscription">
            Lorem ipsum dolor, sit amet consectetur
          </h4>
        </article>
        <img
          class="img-product"
          src="images/Bebida.jpg"
          alt="foto-bebida-suscripcion"
        />
        <article class="button-box">
          <button class="button-subscription" type="button">
            <p class="text-button-subscription">Suscribirme</p>
          </button>
        </article>
      </section>
    </main>
  </body>

  <footer>
    <div class="caja_footer">
      <section class="footer__list1">
        <ul>
          <li class="footer__link1"><a href="">Términos y condiciones</a></li>
          <li class="footer__link2">Redes sociales</li>
          <li class="footer__link--logos">
            <a href="https://www.facebook.com/"><i class="fa-brands fa-facebook"></i></a>
            <a href="https://www.instagram.com/"><i class="fa-brands fa-instagram"></i></a>
            <a href="https://twitter.com/"><i class="fa-brands fa-square-x-twitter"></i></a>
          </li>
        </ul>
      </section>
      <section class="footer__list2">
        <ul>
          <li class="footer__link1">
            <a href="#">Políticas de privacidad</a>
          </li>
          <li class="footer__link2">Contacto</li>
          <li class="footer__link">
            <a href="#">contacto@elrincondelcafe.com</a>
          </li>
          <li class="footer__link">+54 1234-1234</li>
        </ul>
      </section>
    </div>
    <div class="derechos">
      <p>Todos los derechos reservados 2023</p>
      <p>El-Rincón-del-Café</p>
    </div>
  </footer>

</html>
