<!DOCTYPE html>
<html lang="en">
  <head>
   <%- include('../partials/head')%>
   <link rel="stylesheet" href="/css/main/index.css" />
   <title>Home - El Rincón del Café</title>
  </head>
  <body>

    <%- include('../partials/header')%>

    <main>
      <section class="seccion1">
        <article class="circles">
          <div class="circle1">
            <h3 class="text-circle">BEBIDA</h3>
           <a href="http:/products"><img
              class="img-circles"
              src="images/Bebida.jpg"
              alt="foto-bebida"
            />
          </a> 
          </div>
          <div class="circle2">
            <h3 class="text-circle">CAFE EN GRANO</h3>
            <a href="http:/products"><img
              class="img-circles"
              src="images/cafegrano.png"
              alt="foto-cafegrano"
            />
          </a>
          </div>
          <div class="circle3">
            <h3 class="text-circle">CAFE MOLIDO</h3>
            <a href="http:/products"><img
              class="img-circles"
              src="images/cafemolido.jpg"
              alt="foto-cafemolido"
            />
          </a>
          </div>
          <div class="circle4">
            <h3 class="text-circle">CAFE EN CAPSULAS</h3>
            <a href="http:/products"><img
              class="img-circles"
              src="images/capsula.jpg"
              alt="foto-capsula"
            />
          </a>
          </div>
        </article>
      </section>

      <section>
        <article class="carrousel-container">
          <img src="images/coffee1.jpeg" alt="foto-cafegrano" />
          <img src="images/coffeebarista.jpeg" alt="foto-cafemolido" />
          <img src="images/cafeto.jpeg" alt="foto-bebida" />
        </article>
        <div class="carousel-indicators">
          <span class="indicator"></span>
          <span class="indicator"></span>
          <span class="indicator"></span>
        </div>

        <script src="carousel.js"></script>

        <div class="line"></div>
      </section>

      <section class="section2">
        <article>
          <h2 class="title-products">Nuestros productos más vendidos</h2>
          <h4 class="subtitle-products">
            Descubre los cafés más populares entre nuestros clientes
          </h4>
        </article>
        <section class="boxes">
        <article class="product-box">
          <div class="box-products">
            <a href="/products/detail">
              <img 
            class="img-product"
            src="/images/cafegrano/granoseleccion.jpg"
            alt="foto-product"/>
          <h3 class="product1">Producto 1</h3>
          <h5 class="price-product">$Precio</h5>
        </a>
        </div>
          <div class="button-box">
            <a href="/products/cart">
            <button class="button-add" type="button">
              <p class="text-button-box">Añadir al carrito</p>
            </button>
          </a>
          </div>
        </article>
        <article class="product-box2">
          <div class="box-products">
            <a href="/products/detail">
          <img
            class="img-product2"
            src="/images/bebida/frapucccino.png"
            alt="foto-capsula-product"/>
          <h3 class="product2">Producto 2</h3>
          <h5 class="price-product2">$Precio</h5>
          </a>
          </div>

          <div class="button-box">
            <a href="/products/cart">
            <button class="button-add2" type="button">
              <p class="text-button-box2">Añadir al carrito</p>
            </button>
          </a>
          </div>
        </article>
      </article>
      <article class="product-box3">
        <div class="box-products">
          <a href="/products/detail">
        <img
        class="img-product3"
        src=" /images/cafemolido/fluminense.jpg"
        alt="foto-product"
      />
        <h3 class="product2">Producto 3</h3>
        <h5 class="price-product3">$Precio</h5>
        </a>
        </div>
        <div class="button-box">
          <a href="/products/cart">
          <button class="button-add3" type="button">
            <p class="text-button-box3">Añadir al carrito</p>
          </button>
        </a>
        </div>
      </article>
      <article class="product-box4">
        <div class="box-products">
          <a href="/products/detail">
        <img
          class="img-product4"
          src="/images/cafecapsula/capsula4.png"
          alt="foto-product"
        />
        <h3 class="product4">Producto 4</h3>
        <h5 class="price-product">$Precio</h5>
        </a>
        </div>
        <div class="button-box">
          <a href="/products/cart">
          <button class="button-add4" type="button">
            <p class="text-button-box4">Añadir al carrito</p>
          </button>
        </a>
        </div>
      </article>
        </section>
        <div class="carousel-indicators">
          <span class="indicator"></span>
          <span class="indicator"></span>
          <span class="indicator"></span>
          <span class="indicator"></span>
        </div>
        <div class="line"></div>
      </section>
      <section class="section3">
        <article class="box-text">
          <h2 class="title-subscription">Suscripción</h2>
            <div class="text-suscription">
            <h4 class="subtitle-suscription">¡Beneficios exclusivos para vos!</h4>

<h4 class="subtitle-suscription">
  Descuentos en la tienda online.
  Envío gratuito o con descuento.
Acceso anticipado a nuevos productos y eventos.
<h4 class="subtitle-suscription">¡Suscribite y disfrutá de un suministro constante de café de calidad!</h4>
</h4>
<div class="button-box-suscription">
  <button class="button-subscription" type="button">
    <a href="/suscription" class="text-button-subscription">Suscribirme</a>
  </button>
</div>
</div>

        </article>
        <img
          class="img-suscription"
          src="images/couple.jpg"
          alt="foto-bebida-suscripcion"
        />
        
      </section>
     
    </main>
  </body>

  <%- include('../partials/footer')%>

</html>
