<!DOCTYPE html>
<html lang="es">

<head>
    <%- include('../partials/head')%>
        <link rel="stylesheet" href="/css/main/suscripcion.css" />
        <title>Suscripción - El Rincón del Café</title>
</head>

<body>
    <%- include('../partials/header')%>

        <main>
            <h2 class="titulo_pagina">SUSCRIPCIÓN</h2>
            <div class="suscripcion_general">
                <section class="seccion_suscripcion">
                    La suscripción a nuestra cafetería te ofrece una experiencia completa y conveniente, garantizando un
                    suministro constante de café fresco y de alta calidad directamente en tu puerta. Con nuestra
                    suscripción, disfrutarás de los siguientes beneficios:<br><br>
                    <b>Envíos Programados</b><br> Recibirás tus envíos de café de manera periódica, ya sea mensual o
                    semanal, según tus necesidades. Garantizamos la entrega oportuna para que nunca te quedes sin tu
                    café favorito.<br><br>
                    <b>Descuentos Exclusivos</b><br> Como suscriptor, disfrutarás de descuentos exclusivos en nuestra
                    tienda en línea. Esto incluye descuentos en productos adicionales y opciones de compra más allá de
                    tu cuota mensual.<br><br>
                    <b>Envío Gratuito o con Descuento</b><br> Ofrecemos envío gratuito o con descuento para nuestros
                    suscriptores, garantizando una experiencia de compra sin complicaciones.<br><br>
                    <b>Acceso Exclusivo</b><br>Como suscriptor, podrías tener acceso anticipado a nuevos productos,
                    ediciones especiales y eventos exclusivos, permitiéndote explorar aún más el mundo del café.
                    <div class="container-button">
                        <label for="button-suscription" class="button-suscription-custom">
                            SUSCRIBIRSE
                            <input id="button-suscription" type="submit">
                        </label>
                    </div>
                </section>
                <div class="imagen-desktop">
                </div>
            </div>
            <section>
            </section>
        </main>
</body>

<%- include('../partials/footer')%>

</html>