<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>El Rincón del Café</title>
    <link rel="stylesheet" href="/css/normalize.css" />
    <link rel="stylesheet" href="/css/main/suscripcion.css" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" rel="stylesheet" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
        href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
        rel="stylesheet" />
</head>

<body>
    <header>
        <section class="nav-bar">
            <article class="container flex-nav">
                <div class="nav-header">
                    <nav id="menu_hambur">
                        <div id="menuToggle">
                            <input type="checkbox" />
                            <span></span>
                            <span></span>
                            <span></span>
                            <ul id="menu">
                                <a href="#">
                                    <li>Inicio</li>
                                </a>
                                <a href="#">
                                    <li>Nosotros</li>
                                </a>
                                <a href="#">
                                    <li>Productos</li>
                                </a>
                                <a href="#">
                                    <li>Suscripcion</li>
                                </a>
                                <a href="#">
                                    <li>Contacto</li>
                                </a>
                            </ul>
                        </div>
                    </nav>
                    <a class="logo_imagen" href="/"><img class="imagen_logo_chico" src="/images/logo.svg" alt="" /></a>
                    <a class="logo_completo" href="/"><img class="imagen_logo_grande" src="/images/logocompleto.svg"
                            alt="" /></a>
                    <div class="brand">
                        <h1>El Rincón del Café</h1>
                    </div>

                    <div>
                        <ul class="header-list">
                            <li><a href="/">Inicio</a></li>
                            <li><a href="">Nosotros</a></li>
                            <li><a href="">Productos</a></li>
                            <li><a href="">Suscripción</a></li>
                            <li><a href="">Contacto</a></li>
                        </ul>
                    </div>
                    <div class="nav-bar-icons">
                        <i class="fa-solid fa-magnifying-glass"></i>
                        <a class="fa-regular fa-user" href="/login"></a>
                        <a class="fa-solid fa-cart-shopping" href="/productCart"></a>
                    </div>
                </div>
            </article>
        </section>
    </header>

    <main>
        <h2 class="titulo_pagina">SUSCRIPCIÓN</h2>
        <div class="suscripcion_general">
            <section class="seccion_suscripcion">
                La suscripción a nuestra cafetería te ofrece una experiencia completa y conveniente, garantizando un
                suministro constante de café fresco y de alta calidad directamente en tu puerta. Con nuestra
                suscripción, disfrutarás de los siguientes beneficios:<br><br>
                <b>Envíos Programados:</b> Recibirás tus envíos de café de manera periódica, ya sea mensual o
                semanal, según tus necesidades. Garantizamos la entrega oportuna para que nunca te quedes sin tu
                café favorito.<br><br>
                <b>Descuentos Exclusivos:</b> Como suscriptor, disfrutarás de descuentos exclusivos en nuestra
                tienda en línea. Esto incluye descuentos en productos adicionales y opciones de compra más allá de
                tu cuota mensual.<br><br>
                <b>Envío Gratuito o con Descuento:</b> Ofrecemos envío gratuito o con descuento para nuestros
                suscriptores, garantizando una experiencia de compra sin complicaciones.<br><br>
                <b>Acceso Exclusivo:</b> Como suscriptor, podrías tener acceso anticipado a nuevos productos,
                ediciones especiales y eventos exclusivos, permitiéndote explorar aún más el mundo del café.
            </section>
            <div class="imagen-desktop">
            </div>
    </main>

    <footer>
        <div class="caja_footer">
            <section class="footer__list1">
                <ul>
                    <li class="footer__link1"><a href="">Términos y condiciones</a></li>
                    <li class="footer__link2">Redes sociales</li>
                    <li class="footer__link--logos">
                        <a href="https://www.facebook.com/"><i class="fa-brands fa-facebook"></i></a>
                        <a href="https://www.instagram.com/"><i class="fa-brands fa-instagram"></i></a>
                        <a href="https://twitter.com/"><i class="fa-brands fa-square-x-twitter"></i></a>
                    </li>
                </ul>
            </section>
            <section class="footer__list2">
                <ul>
                    <li class="footer__link1">
                        <a href="#">Políticas de privacidad</a>
                    </li>
                    <li class="footer__link2">Contacto</li>
                    <li class="footer__link">
                        <a href="#">contacto@elrincondelcafe.com</a>
                    </li>
                    <li class="footer__link">+54 1234-1234</li>
                </ul>
            </section>
        </div>
        <div class="derechos">
            <p>Todos los derechos reservados 2023</p>
            <p>El-Rincón-del-Café</p>
        </div>
    </footer>
</body>

</html>