:root {
  /* Paleta de colores */
  --marron: #9f3c1d;
  --rojo: #e51414;
  --negro: #000000;
  --cafe: #702122;
  --blanco: #ffffff;
  --gris: #e1dfdf;
  --botones: #e1dfb2;
  --fondo: #fafafa;
}

/* MAIN*/

.productName {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 16px;
  color: #702122;
  text-align: center;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
  margin-top: 20px;
}

.product-box {
  width: 80%;
}

.product-container {
  display: flex;
  justify-content: center;
  flex-direction: row;
  margin-bottom: 20px;
}
.product-box {
  background-color: var(--blanco);
  text-align: center;
  align-items: center;
  width: 70%;
  transition: 450ms;
  display: flex;
  flex-direction: column;
}
.img-product {
  width: 100%;
  max-width: 400px;
  margin-bottom: 20px;
  box-shadow: 10px 10px 5px 0px rgba(128, 128, 128, 0.5);
}

.card-product {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 400px;
}

.product {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-size: 18px;
}
.price {
  width: 40%;
  display: flex;
  justify-content: flex-end;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 18px;
  color: #702122;
  margin-right: 5px;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.4);
}
.quantity-price {
  display: flex;
  flex-direction: row-reverse;
}
.cantidad {
  padding: 10px;
  width: 60%;
  text-align: center;
  border: var(--gris) solid;
}

.productDescription {
  border: 1px solid var(--gris);
  border-radius: 10px;
  padding: 15px;
  margin: 10px;
  border: #e1dfdf solid;
  width: 95%;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 18px;
  color: #702122;
  box-shadow: 10px 10px 5px 0px rgba(128, 128, 128, 0.5);
}

.button-box {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}
.button-add {
  border: none;
  background-color: var(--blanco);
  margin-bottom: 20px;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
  color: #702122;
  background-color: var(--botones);
  padding: 15px;
  border-radius: 30px;
  width: 20%;
  text-align: center;
  width: 35%;
  margin-top: 10px;
}

/* TABLET*/

@media (min-width: 768px) {
}

/* DESKTOP */

@media (min-width: 1024px) {
  /* MAIN*/

  .product-box {
    display: flex;
    flex-direction: row;
    width: 50%;
    gap: 50px;
  }
  .img-product {
    width: 100%;
    max-width: 500px;
  }
  .card-product {
    display: flex;
    flex-direction: column;
    width: 50%;
    max-width: 500px;
    align-items: center;
    gap: 1vw;
  }
  .product-type {
    display: flex;
    max-width: 200px;
  }
  .quantity-price {
    width: 100%;
    gap: 50px;
    flex-direction: row-reverse;
    max-width: 300px;
    margin: auto;
  }
  .product {
    text-align: center;
    width: 100%;
  }
  .price {
    width: 50%;
  }
  .cantidad {
    width: 50%;
  }
  .button-add {
    max-width: 500px;
  }
  .productDescription {
    width: 100%;
  }
}
