/*-------------------------------------------------------------------MAIN-----------------------------------------------------------*/
main {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #e6d6bb4d;
}
.product-container {
  margin-right: 0px;
  text-align: center;
  margin-bottom: 30px;
}
.product {
  color: var(--cafe);
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: xx-large;
}
.price {
  padding: 0px;
}
p {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 15px;
  color: var(--cafe);
  flex-direction: column;
  justify-content: center;
  padding: 15px;
}
.text-box {
  text-align: center;
}
.card-imagen {
  width: 250px;
  overflow: hidden;
}
.quantity-counter {
  flex-direction: column;
}
.counter {
  display: flex;
  margin-bottom: 30px;
}
.quantity-price {
  display: flex;
  width: 50%;
  justify-content: space-evenly;
  margin-top: 20px;
  align-items: center;
}
.cantidad {
  width: 35px;
  height: 25px;
  text-align: center;
  border: none;
  margin-left: 15px;
  color: #702122;
}
.quantity-counter {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.fa-minus,
.fa-plus {
  border: 1px solid #00000054;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  color: #702122;
}
.button-add-custom {
  justify-content: space-around;
  padding: 5px;
  width: 145px;
  border-radius: 15px;
  border-color: transparent;
  background-color: #e1dfb2;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.3);
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  font-size: 14px;
  color: #702122;
  display: flex;
  cursor: pointer;
  align-items: center;
  margin-bottom: 20px;
  display: flex;
  align-items: flex-start;
}
.fa-mug-hot {
  display: none;
}

#button-add {
  display: none;
}

/*----------------------------------------------------RESPONSIVE TABLET-------------------------------------------------------*/

@media (min-width: 768px) {
  .product-container {
    justify-content: center;
    flex-direction: row-reverse;
    width: 100%;
    max-width: 1600px;
  }

  .button-add-custom {
    width: 145px;
  }
}

/*----------------------------------------------------RESPONSIVE DESKTOP------------------------------------------------------*/

@media (min-width: 1024px) {
  /*------------------------------------------------------------MAIN----------------------------------------------------------*/

  .fa-mug-hot {
    display: block;
  }
  .button-add-custom {
    margin-bottom: 40px;
  }
  .card-imagen {
    width: 340px;
    z-index: 80;
  }
  .content {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 600px;
  }
  .content .text-box {
    position: relative;
    width: 60%;
    padding: 30px;
    padding-left: 60px;
    text-align: center;
  }
  .text-box p {
    font-size: 20px;
    font-weight: 200;
    margin: 0;
    padding-top: 0px;
    padding-bottom: 20px;
  }
  .product {
    color: var(--cafe);
    font-size: 4em;
    line-height: 1.4em;
    font-weight: 500;
    margin-bottom: 0;
  }
  .product-container {
    justify-content: flex-start;
    margin-bottom: 0;
    position: relative;
    padding-right: 20px;
    width: 40%;
    z-index: 40;
  }
  .circle {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #7c720724;
    clip-path: circle(600px at right 800px);
  }
  .text-box .price {
    text-align-last: center;
    margin-top: 50px;
  }
  .quantity-counter {
    flex-direction: column;
  }
  .counter {
    display: flex;
    margin-bottom: 40px;
  }
}
