:root {
  /* Paleta de colores */
  --marron: #9f3c1d;
  --rojo: #e51414;
  --negro: #000000;
  --cafe: #702122;
  --blanco: #ffffff;
  --gris: #e1dfdf;
  --botones: #e1dfb2;
  --fondo: #fafafa;
}

/* HEADER COMPLETO*/
/*------------------------------------------------------------HEADER----------------------------------------------------------*/

/* HEADER COMPLETO*/
.nav-header {
  background: #ebdb9b;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 40px;
  padding: 10px;
}

/* LOGO*/
.logo_imagen {
  display: flex;
  width: 50px;
  position: absolute;
}

/* IMAGEN LOGO CHICO*/
.imagen_logo_chico {
  width: 50px;
}

.brand {
  display: none;
}

/* MENU HAMBURGUESA */
#menuToggle {
  width: 30%;
  margin-left: 25px;
  display: block;
  position: relative;
  top: 2px;
  left: -46px;
  z-index: 1;
  -webkit-user-select: none;
  user-select: none;
}
#menuToggle a {
  text-decoration: none;
  color: #232323;
  transition: color 0.3s ease;
}
#menuTogglea:hover {
  color: tomato;
}
#menuToggle input {
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: -7px;
  left: -5px;
  cursor: pointer;
  opacity: 0; /* hide this */
  z-index: 2; /* and place it over the hamburger */
  -webkit-touch-callout: none;
}
#menu_hambur {
  display: flex;
}
#menuToggle span {
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;
  background: var(--cafe);
  border-radius: 3px;
  z-index: 1;
  transform-origin: 4px 0px;
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1),
    background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease;
}
#menuToggle span:first-child {
  transform-origin: 0% 0%;
}
#menuToggle span:nth-last-child(2) {
  transform-origin: 0% 100%;
}
#menuToggle input:checked ~ span {
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -1px);
  background: var(--cafe);
}
#menuToggle input:checked ~ span:nth-last-child(3) {
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}
#menuToggle input:checked ~ span:nth-last-child(2) {
  transform: rotate(-45deg) translate(0, -1px);
}
#menu {
  position: absolute;
  width: 67vw;
  margin: 20px 0 0 -10px;
  padding: 35px;
  padding-bottom: 6px;
  padding-top: 10px;
  background-image: url(/images/cafe-nav.png);
  background-color: rgba(0, 0, 0, 0.5);
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
  transform-origin: 0% 0%;
  transform: translate(-150%, 0%);
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
  border-radius: 9px;
  box-shadow: 10px 8px 16px rgba(0, 0, 0, 0.4);
}
#menu li {
  padding: 15px 0;
  font-size: 22px;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
  color: var(--cafe);
}
#menuToggle input:checked ~ ul {
  transform: none;
}

/* CAJA DE ICONOS HEADER */
.nav-bar-icons {
  display: flex;
  gap: 15px;
  width: 50%;
  justify-content: end;
}
.fas.fa-bars {
  color: #702122;
}
.fa-regular.fa-user {
  color: #702122;
}
.fa-solid.fa-cart-shopping {
  color: #702122;
}
.fa-solid.fa-magnifying-glass {
  color: #702122;
}

.header-list {
  display: none;
}

.header-list a {
  color: inherit; /* Esto hace que los enlaces tengan el mismo color que el texto normal */
  text-decoration: none; /* Esto elimina el subrayado de los enlaces */
}

/*LOGO RESPONSIVE TABLET - DESKTOP*/
.logo_completo {
  display: none;
  width: 120px;
}

/* IMAGEN LOGO GRANDE*/
.imagen_logo_grande {
  width: 120px;
}

/*------------------------------------------------------------MAIN----------------------------------------------------------*/
body{
  margin: auto;
}

.title {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 20px;
  color: var(--cafe);
  display: flex;
  width: 100vw;
  justify-content: center;
  margin-top: 30px;
  margin-bottom: 30px;
}

.container-category-mobile {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
}
.container-category-imagen-bebida {
  background-image: url(../../images/Bebida.jpg);
  background-size: cover;
  background-position: center;
  width: 80vw;
  border-radius: 15px;
  opacity: 0.5;
  height: 100px;
  position: relative;
  z-index: 0;
  margin: 0 auto;
}
.container-category-title-mobile {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: 80vw;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 18px;
  color: var(--cafe);
}

.container-category-desktop {
  display: none;
}

.search-bar {
  display: flex;
  align-items: center;
  margin-top: 15px;
  margin-bottom: 15px;
  justify-content: center;
}

input {
  border: none;
}
.search-bar-input {
  padding: 12px;
  border-top: 1px solid var(--negro);
  border-bottom: 1px solid var(--negro);
  border-left: 1px solid var(--negro);
  border-radius: 5px 0 0 5px;
  width: 50%;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 12px;
  color: var(--cafe);
}

.search-bar-button {
  background-color: var(--botones);
  border: 1px solid var(--negro);
  border-radius: 0 5px 5px 0;
  padding: 10px;
  cursor: pointer;
}
.search-bar-button i {
  font-size: 16px;
}

.container-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.card {
  display: flex;
  border: 1px solid var(--gris);
  background-color: var(--blanco);
  text-align: center;
  border-radius: 5px;
  width: 40%;
  box-shadow: 10px 10px 5px 0px rgba(128, 128, 128, 0.5);
  flex-direction: column;
  align-items: center;
  margin-bottom: 25px;
}

.card img {
  margin-top: 20px;
  width: 90%;
  align-self: center;
  border-radius: 15px;
}
.card-title {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: 20px;
  color: var(--negro);
  margin-top: 20px;
  margin-bottom: 10px;
}

.card-price {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: 15px;
  color: var(--cafe);
  margin-top: 10px;
  margin-bottom: 10px;
}

.card-add-cart {
  margin-bottom: 20px;
  margin-top: 5px;
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.card-icon-edit {
  display: none;
}

.card-add-cart-text {
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  background-color: var(--botones);
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: 12px;
  color: var(--cafe);
  border: none;
  padding: 10px;
  border-radius: 10px;
}

.container-navigation {
  display: flex;
  justify-content: space-evenly;
  margin-top: 20px;
  width: 100%;
}

.button-prev,
.button-return,
.button-next {
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  background-color: var(--botones);
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: 15px;
  color: var(--cafe);
  border: none;
  padding: 10px;
  border-radius: 10px;
}

/*----------------------------------------------------------------FOOTER-------------------------------------------------------------*/

/* LINKS FOOTER */
a {
  text-decoration: none;
  color: var(--negro);
}

/* FOOTER COMPLETO */
footer {
  background-color: #e8e6c5;
  text-align: center;
  padding: 20px;
  margin-top: 30px;
}

/* CAJA FOOTER */
.caja_footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

/* COLUMNAS FOOTER */
.footer__list1,
.footer__list2 {
  color: var(--negro);
  width: 50%;
  margin-bottom: 15px;
}

/* ELEMENTOS LI FOOTER */
.footer__link {
  list-style: none;
  font-size: 18px;
  margin-bottom: 10px;
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-style: normal;
  font-size: 10px;
}

/* CAJA ICONOS REDES SOCIALES */
.footer__link--logos {
  font-size: 20px;
  list-style: none;
  margin: 15px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 15px;
}

.footer__link1,
.footer__link2 a {
  color: inherit; /* Esto hace que los enlaces tengan el mismo color que el texto normal */
  text-decoration: none; /* Esto elimina el subrayado de los enlaces */
}

/* UL FOOTER */
ul {
  padding: 0px;
}

/* CAJA ELEMENTOS LI FOOTER 1 */
.footer__link1 {
  list-style: none;
  font-size: 18px;
  margin-bottom: 10px;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 13px;
  margin-top: 8px;
}

/* CAJA ELEMENTOS LI FOOTER 2 */
.footer__link2 {
  list-style: none;
  font-size: 18px;
  margin-bottom: 10px;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 13px;
  margin-top: 30px;
}

/* DERECHOS RESERVADOS */
.derechos {
  list-style: none;
  font-size: 18px;
  margin-bottom: 10px;
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-style: normal;
  font-size: 12px;
}

@media (min-width: 768px) {
  /*------------------------------------------------------------HEADER----------------------------------------------------------*/

  .logo_completo {
    display: flex;
    position: absolute;
    left: 5%;
    justify-content: flex-start;
  }
  .logo_imagen {
    display: none;
  }
  .nav-bar {
    position: relative;
  }
  .nav-bar-icons {
    position: absolute;
    right: 5%;
  }
  .logo_imagen {
    position: absolute;
    left: 5%;
    height: 70%;
    top: 0%;
  }
  #menu_hambur {
    display: none;
  }
  .header-list {
    display: block;
    display: flex;
    flex-direction: row;
    gap: 25px;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 14px;
    color: #702122;
    margin-bottom: 10px;
    list-style: none;
  }

  /*------------------------------------------------------------MAIN----------------------------------------------------------*/

  .card img {
    width: 70%;
  }
}

@media (min-width: 1024px) {
  /*------------------------------------------------------------HEADER----------------------------------------------------------*/

  .nav-bar {
    position: relative;
  }
  .nav-bar-icons {
    position: absolute;
    right: 5%;
  }
  .logo_imagen {
    position: absolute;
    left: 10%;
    height: 70%;
    top: 0%;
  }
  #menu_hambur {
    display: none;
  }
  .header-list {
    display: block;
    display: flex;
    flex-direction: row;
    gap: 25px;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 14px;
    color: #702122;
    margin-bottom: 10px;
    list-style: none;
  }

  /*------------------------------------------------------------MAIN----------------------------------------------------------*/
  .container-products-category {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
  }
  .container-category-desktop {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
  }
.card {
  width: 20%;
}
  .container-category-imagen-bebida {
    width: 20vw;
    margin-bottom: 20px;
  }
  .container-category-imagen-grano {
    background-image: url(../../images/cafegrano.png);
    background-size: cover;
    background-position: center;
    width: 20vw;
    border-radius: 15px;
    opacity: 0.5;
    height: 100px;
    position: relative;
    z-index: 0;
    margin: 0 auto;
    margin-bottom: 20px;
  }
  .container-category-imagen-molido {
    background-image: url(../../images/cafemolido.jpg);
    background-size: cover;
    background-position: center;
    width:20vw;
    border-radius: 15px;
    opacity: 0.5;
    height: 100px;
    position: relative;
    z-index: 0;
    margin: 0 auto;
    margin-bottom: 20px;
  }
  .container-category-imagen-capsula {
    background-image: url(../../images/capsula.jpg);
    background-size: cover;
    background-position: center;
    width: 20vw;
    border-radius: 15px;
    opacity: 0.5;
    height: 100px;
    position: relative;
    z-index: 0;
    margin: 0 auto;
    margin-bottom: 20px;
  }
  .container-category-title {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 20vw;
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 18px;
    color: var(--cafe);
  }
  .container-category-title-mobile {
    width: 20vw;
  }
  .container-desktop{
    display: flex;
  }
  .container-category-responsive{
    display: flex;
    flex-direction: column-reverse;
    justify-content: flex-end;
    width: 30%;
  }
  .container-responsive{
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  .search-bar{
    margin-top: 0;
    justify-content: center;
  }
.search-bar-input{
  width: 30%;
}
.page-navigation{
  display: flex;
}
}
