/*-------------------------------------------------------------------MAIN-----------------------------------------------------------*/
main {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #e6d6bb4d;
}
.product-container {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
  align-items: center;
}
.product-box {
  display: flex;
  flex-direction: column;
  position: relative;
  box-shadow: 0px 0px 10px rgb(100, 100, 100);
  border-radius: 10px;
  margin: 15px;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 15px;
  color: var(--cafe);
  text-align: justify;
  background-color: #fff;
  align-items: center;
  justify-content: flex-end;
  width: 80%;
  height: 510px;
  width: 300px;
}
.productName {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 20px;
  color: var(--cafe);
  display: flex;
  width: 100%;
  justify-content: center;
}
.product {
  color: var(--cafe);
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: xx-large;
}
.price {
  padding: 0px;
  margin-left: 10px;
}
p {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 15px;
  color: var(--cafe);
  flex-direction: column;
  justify-content: center;
  padding: 15px;
}
article > p {
  margin-top: 0px;
  margin-bottom: 0px;
}
.card-imagen {
  width: 250px;
  overflow: hidden;
}
.imagen-aboutus {
  display: none;
}
.quantity-price {
  display: flex;
  width: 50%;
  justify-content: space-evenly;
  margin-top: 20px;
  align-items: center;
}
.cantidad {
  width: 35px;
  height: 25px;
  text-align: center;
  border: none;
  margin-left: 15px;
}
.quantity-counter {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.fa-minus,
.fa-plus {
  border: 1px solid #00000054;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.button-add-custom {
  justify-content: space-around;
  padding: 5px;
  width: 145px;
  border-radius: 15px;
  border-color: transparent;
  background-color: #e1dfb2;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.3);
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  font-size: 14px;
  color: #702122;
  display: flex;
  cursor: pointer;
  align-items: center;
  margin-bottom: 20px;
  display: flex;
  align-items: flex-start;
}
.fa-mug-hot {
  display: none;
}

#button-add {
  display: none;
}

/*----------------------------------------------------RESPONSIVE TABLET-------------------------------------------------------*/

@media (min-width: 768px) {
  .product-container {
    justify-content: center;
    flex-direction: row-reverse;
    width: 100%;
    max-width: 1600px;
  }

  .button-add-custom {
    width: 145px;
  }
}

/*----------------------------------------------------RESPONSIVE DESKTOP------------------------------------------------------*/

@media (min-width: 1024px) {
  /*------------------------------------------------------------MAIN----------------------------------------------------------*/

  .product-box {
    border-radius: 0px 15px 15px 0px;
    height: 510px;
    margin-left: 0px;
  }
  .fa-mug-hot {
    display: block;
  }
  .product-container {
    display: flex;
  }
  .product {
    color: var(--cafe);
  }
  .button-add-custom {
    margin-bottom: 40px;
  }
  .card-imagen-desktop {
    display: block;
    height: 250px;
  }
  .imagen-aboutus {
    display: block;
    background-color: aliceblue;
    border-radius: 15px 0px 0px 15px;
    margin: 0;
    height: 510px;
  }
  .imagen-aboutus > img {
    height: 510px;
    box-shadow: 0px 0px 10px rgb(100, 100, 100);
    border-radius: 15px 0px 0px 15px;
    filter: grayscale(1);
  }
}
