/*-------------------------------------------------------------------MAIN-----------------------------------------------------------*/
main {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #e6d6bb4d;
}

.aboutus_general {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}

.seccion_aboutus {
  display: flex;
  flex-direction: column;
  position: relative;
  box-shadow: 0px 0px 10px rgb(100, 100, 100);
  border-radius: 10px;
  margin: 15px;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 15px;
  color: var(--cafe);
  padding: 15px;
  text-align: justify;
  background-color: var(--fondo);
  align-items: center;
  justify-content: flex-start;
  width: 80%;
}

.titulo_pagina {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 20px;
  color: var(--cafe);
  display: flex;
  width: 100%;
  justify-content: center;
}
.imagen-aboutus {
  display: none;
}
/*----------------------------------------------------RESPONSIVE TABLET-------------------------------------------------------*/

@media (min-width: 768px) {
  /*------------------------------------------------------------MAIN----------------------------------------------------------*/
  @media (min-width: 768px) {
    .seccion_aboutus {
      width: 39%;
      justify-content: center;
      margin: 0;
      border-radius: 0px 15px 15px 0px;
    }
    .imagen-aboutus {
      background-image: url(../../images/aboutus.jpg);
      background-size: cover;
      background-position: center;
      display: flex;
      width: 50%;
      border-radius: 15px 0px 0px 15px;
      z-index: 0;
      margin: 0;
      overflow: hidden;
      box-shadow: 0px 0px 10px rgb(100, 100, 100);
    }
    .aboutus_general {
      justify-content: center;
      flex-direction: row-reverse;
      width: 100%;
    }
  }
  main {
    justify-content: center;
    flex-direction: column;
  }
}

/*----------------------------------------------------RESPONSIVE DESKTOP------------------------------------------------------*/

@media (min-width: 1024px) {
  .imagen-aboutus {
    width: 40%;
    right: -71px;
    box-shadow: 0px 0px 10px rgb(100, 100, 100);
  }
  .aboutus_general {
    max-width: 1240px;
    margin: 30px auto;
  }
}
/*------------------------------------------------------------MAIN----------------------------------------------------------*/
