/* MAIN */
main {
  width: 100%;
  margin: auto;
  background-color: #e6d6bb4d;
  height: 500px;
  align-content: center;
}
.contact-form {
  display: flex;
  justify-content: center;
}
.container-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Poppins", sans-serif;
  font-size: 15px;
  color: #702122;
  border-radius: 40px;
  background-color: rgba(232, 230, 197, 0.5);
  box-shadow: 0px 0px 10px rgb(100, 100, 100);
  margin-top: 40px;
  padding: 15px;
  margin-bottom: 40px;
  width: 80%;
}
textarea {
  resize: none;
}
.complete-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
}
.titulo_pagina {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 20px;
  color: var(--cafe);
  display: flex;
  width: 100%;
  justify-content: center;
}
.input-form {
  width: 150%;
  padding: 10px;
  border: 2px solid var(--fondo);
  border-radius: 10px;
  font-size: 14px;
  font-family: "Poppins", sans-serif;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
  color: var(--input);
  margin-bottom: 10px;
}

.contenedor-enviar-reset {
  display: flex;
  justify-content: space-evenly;
  width: 200%;
  margin-bottom: 20px;
  margin-top: 20px;
}
.boton_enviar-custom {
  justify-content: center;
  padding: 5px;
  width: 30%;
  border-radius: 15px;
  border-color: transparent;
  background-color: #e1dfb2;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.3);
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  font-size: 14px;
  color: #702122;
  display: flex;
  cursor: pointer;
  align-items: center;
}
#boton_enviar {
  display: none;
}
.boton_reset-custom {
  justify-content: center;
  padding: 5px;
  width: 120px;
  border-radius: 15px;
  border-color: transparent;
  background-color: #e1dfb2;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.3);
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  font-size: 14px;
  color: #702122;
  display: flex;
  cursor: pointer;
  align-items: center;
}
#boton_reset {
  display: none;
}

.boton:hover {
  background-color: var(--cafe);
  color: var(--botones);
}
.left-container {
  display: none;
}

@media (min-width: 768px) {
  /* MAIN */
  .container-form {
    width: 100%;
    max-width: 400px;
  }
  .left-container {
    display: none;
  }
}

@media (min-width: 1024px) {
  /*------------------------------------------------------------HEADER----------------------------------------------------------*/

  /* MAIN */
}
