:root {
  /* Paleta de colores */
  --marron: #9f3c1d;
  --rojo: #e51414;
  --negro: #000000;
  --cafe: #702122;
  --blanco: #ffffff;
  --gris: #e1dfdf;
  --botones: #e1dfb2;
  --fondo: #fafafa;
}

/*----MAIN-----/*

/* Estilos de los circulos de main*/
.circles {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 6%;
  width: 90%;
  justify-content: center;
  margin: auto;
}
.img-circles {
  width: 100%;
  width: 20vw;
  height: 20vw;
  border-radius: 75px;
  transition: 450ms;
}
.img-circles:hover {
  box-shadow: 0 0 10px #000000;
}

.circle1,
.circle2,
.circle3,
.circle4 {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  width: 20%;
  margin-top: 10px;
}

/* Estilos de los textos que van dentro de los circulos por productos*/
.text-circle {
  font-size: 12px;
  width: 100%;
  z-index: 0;
  color: black;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  font-style: normal;
  color: #702122;
}

/* Estilos del carrusel */
.carrousel-container {
  display: flex;
  width: 100%;
  height: 50vh;
  overflow-x: scroll;
  scroll-snap-type: x mandatory;
  animation: slide 9s infinite;
}
.carrousel-container img {
  flex: 0 0 100%;
  width: 100%;
  object-fit: cover;
  scroll-snap-align: center;
}

/*  Circulitos que indican posicion de foto en la que me encuentro en carrousel*/
.carousel-indicators {
  display: flex;
  justify-content: center;
  gap: 10px;
  padding: 10px;
  margin-top: 10px;
}

.indicator {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #ccc;
}

.line {
  width: 90%;
  height: 1px;
  background: #d9d9d9;
  margin: auto;
  margin-top: 10px;
  margin-bottom: 30px;
}

/*Titulo de nuestros productos mas vendidos */
.title-products {
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  font-style: normal;
  text-align: center;
  color: #702122;
}
/* Subtitulo de nuestros productos mas vendidos*/
.subtitle-products {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-style: normal;
  text-align: center;
  color: #702122;
  margin: 20px 10px;
}

.product-box {
  border: #e1dfdf solid;
  background-color: var(--blanco);
  text-align: center;
  width: 90%;
  align-items: center;
  margin: auto;
  margin-bottom: 20px;
  left: 20px;
  box-shadow: 10px 10px 5px 0px rgba(128, 128, 128, 0.5); /* Ajusta estos valores según tus necesidades */
}

.img-product {
  width: 100%;
  margin-bottom: 10px;
}
.product1 {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-style: normal;
  font-weight: 200;
  margin-bottom: 20px;
  font-size: 25px;
}
.price-product {
  color: #702122;
  margin-bottom: 20px;
  font-size: 16px;
}
.text-button-box {
  background-color: var(--botones);
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  font-style: normal;
  color: #702122;
  font-size: 18px;
  padding: 15px;
  border-radius: 30px;
}
.button-add {
  border: none;
  background-color: var(--blanco);
  margin-bottom: 20px;
}

.section3 {
  position: static;
}

/*Titulo de suscripcion */
.title-subscription {
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  font-style: normal;
  text-align: center;
  color: #702122;
}
.subtitle-suscription {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-style: normal;
  text-align: center;
  color: #702122;
  margin: 20px 10px;
}

.button-box {
  display: flex;
  justify-content: center;
}
.text-button-subscription {
  background-color: var(--botones);
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  font-style: normal;
  color: #702122;
  font-size: 18px;
  padding: 15px;
  border-radius: 30px;
}
.button-subscription {
  border: none;
  background-color: white;
  margin-bottom: 20px;
  margin-top: 15px;
}

.product-box2,
.product-box3,
.product-box4 {
  display: none;
}
.img-suscription {
  width: 100%;
  margin-bottom: 20px;
}

/* TABLET*/

@media (min-width: 768px) {
  /*---MAIN---*/
  .seccion1 {
    display: none;
  }
  .product-box {
    width: 40%;
  }

  .product-box2 {
    border: #e1dfdf solid;
    background-color: var(--blanco);
    text-align: center;
    width: 90%;
    align-items: center;
    margin: auto;
    margin-bottom: 20px;
    left: 20px;
    box-shadow: 10px 10px 5px 0px rgba(128, 128, 128, 0.5);
  }
  .img-product2 {
    width: 100%;
  }
  .product2 {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-style: normal;
    font-weight: 200;
    margin-bottom: 20px;
    font-size: 25px;
  }
  .price-product2 {
    color: #702122;
    margin-bottom: 20px;
    font-size: 16px;
  }
  .text-button-box2 {
    background-color: var(--botones);
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-style: normal;
    color: #702122;
    font-size: 18px;
    padding: 15px;
    border-radius: 30px;
  }
  .button-add2 {
    border: none;
    background-color: var(--blanco);
    margin-bottom: 20px;
  }
  .product-box2 {
    width: 40%;
  }
  .boxes {
    display: flex;
    flex-direction: row;
  }
  .product-box2 {
    display: block;
  }

  .product-box,
  .product-box2 {
    transition: 450ms;
  }

  .product-box:hover,
  .product-box2:hover {
    box-shadow: 0 0 10px #000000;
  }
  .section3 {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin-bottom: 20px;
    justify-content: space-around;
  }

  .text-suscription {
    display: flex;
    flex-direction: column;
    text-align: center;
    max-width: 400px;
  }
  .box-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .img-suscription {
    width: 50%;
    max-width: 565px;
  }
}

/* DESKTOP */

@media (min-width: 1024px) {
  /*MAIN */
  .product-box,
  .product-box2,
  .product-box3,
  .product-box4 {
    border: #e1dfdf solid;
    background-color: var(--blanco);
    text-align: center;
    width: 20%;
    align-items: center;
    margin: auto;
    margin-bottom: 20px;
    left: 20px;
    box-shadow: 10px 10px 5px 0px rgba(128, 128, 128, 0.5);
    transition: 450ms;
  }

  .product-box:hover,
  .product-box2:hover,
  .product-box3:hover,
  .product-box4:hover {
    box-shadow: 0 0 10px #000000;
  }

  .img-product3,
  .img-product4 {
    width: 100%;
  }
  .product3,
  .product4 {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-style: normal;
    font-weight: 200;
    margin-bottom: 20px;
    font-size: 25px;
  }
  .price-product3,
  .price-product4 {
    color: #702122;
    margin-bottom: 20px;
    font-size: 16px;
  }
  .text-button-box3,
  .text-button-box4 {
    background-color: var(--botones);
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-style: normal;
    color: #702122;
    font-size: 18px;
    padding: 15px;
    border-radius: 30px;
  }
  .button-add3,
  .button-add4 {
    border: none;
    background-color: var(--blanco);
    margin-bottom: 20px;
  }

  .product-box2,
  .product-box3,
  .product-box4 {
    width: 20%;
    display: block;
  }

  .carousel-indicators {
    display: none;
  }
}
