<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head')%>
    <link rel="stylesheet" href="/css/users/productManagement.css" />
    <title>Gestión de productos - El Rincón del Café</title>
   </head>

<body>
    <%- include('../partials/header')%>

    <main>
        <section class="profile-form">
            <div class="profile-form-admin">
                <div class="products-form-admin">
                    <h2 class="title-profile">ADMINISTRACION DE PRODUCTOS</h2>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                </div>
                <div class="container-button">
                    <label for="button-profile" class="button-profile-custom">
                        PERFIL ADMINISTRADOR
                        <a href="/users/adminProfile">
                            <input id="button-profile" type="submit" >
                        </a>
                    </label>
                </div>
        </section>
    </main>

    <%- include('../partials/footer')%>
</body>

</html>