<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/head')%>
    <link rel="stylesheet" href="/css/users/register.css" />
    <title>Registro - El Rincón del Café</title>
  </head>
  <body>
    <%- include('../partials/header')%>

    <main>
      <section class="register-form">
        <div class="container-form">
          <h2 class="title-register">REGISTRO</h2>

          <form
            class="complete-form"
            method="POST"
            action="/users/register"
            enctype="multipart/form-data"
          >
            <div class="input-wrapper">
              <label for="name" class="input-label">Nombre</label>
              <input
                class="input-form"
                type="text"
                id="firstName"
                name="firstName"
              />
              <% if (locals.errors && errors.name){ %>
              <p class="feedback"><%=errors.name%></p>
              <% } %>
            </div>

            <div class="input-wrapper">
              <label for="last-name" class="input-label">Apellido</label>
              <input
                class="input-form"
                type="text"
                id="lastName"
                name="lastName"
              />
            </div>

            <div class="input-wrapper">
              <label for="date" class="input-label">Fecha de Nacimiento</label>
              <input
                class="input-form"
                type="date"
                id="date"
                name="birthDate"
              />
            </div>

            <div class="input-wrapper btn-file-upload">
              <label for="image-profile" class="input-label"
                >Imagen de perfil</label
              >
              <input
                class="input-form input-file"
                type="file"
                id="image-profile"
                accept="jpg, jpeg, png"
                name="imageProfile"
              />
            </div>

            <div class="input-wrapper">
              <label for="email" class="input-label">Correo Electrónico</label>
              <input class="input-form" type="email" id="email" name="email" />
            </div>

            <div class="input-wrapper">
              <label for="password" class="input-label">Contraseña</label>
              <input
                class="input-form"
                type="password"
                id="password"
                name="password"
              />
            </div>

            <button class="button-register">REGISTRARSE</button>
          </form>
        </div>
        <div class="left-container">
          <p class="text-left-container">
            Registrate y empezá a disfrutar de nuestros productos!
          </p>
        </div>
      </section>
    </main>

    <%- include('../partials/footer')%>
  </body>
</html>
