<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head')%>
        <link rel="stylesheet" href="/css/users/usersCreate.css" />
        <title>Generación de Productos - El Rincón del Café</title>
</head>


<body>
    <%- include('../partials/header')%>

        <main>
            <section class="edition-form">
                <div class="container-form">
                    <h2 class="title-register">GENERAR USUARIO</h2>

                    <form id="form-create" class="complete-form" method="POST" action="/users/create">
                        
                        <div class="contenedor_radio">
                            <label class="titulo-radio">
                                Tipo de usuario <br />
                            </label>
                            <label class="label_radio">
                                <input type="radio" name="accessType" 
                                id="accessType"
                                value="admin" required /> Administrador
                            </label>
                            <label class="label_radio">
                                <input type="radio" name="accessType" 
                                id="accessType"
                                value="user" required /> Usuario
                            </label>
                        </div>


                        <input class="input-form" type="text" id="firstName" name="firstName"
                            placeholder="Nombre" />
                        <p id="firstNameError" class="flash-errors">
                            El nombre debe contener al menos dos letras y puede contener
                            espacios.
                        </p>
                        
                        <input class="input-form" type="text" id="lastName" name="lastName"
                            placeholder="Apellido" />
                        <p id="lastNameError" class="flash-errors">
                            El nombre debe contener al menos dos letras y puede contener
                            espacios.
                        </p>

                        <input class="input-form" type="text" id="birthDate" name="birthDate" placeholder="Fecha de nacimiento" onfocus="(this.type='date')" onblur="(this.type='text')"/>
                        <p id="birthDateError" class="flash-errors">
                            El nombre debe contener al menos dos letras y puede contener
                            espacios.
                        </p>

                        <input class="input-form" type="email" id="email" name="email"
                            placeholder="Correo electrónico" />
                        <p id="emailError" class="flash-errors">
                            Debes ingresar una dirección de correo válida.
                        </p>
                        
                        <input class="input-form" type="password" id="password" name="password" placeholder="Contraseña"/>
                        <p id="passwordError" class="flash-errors">
                            La contraseña debe ser de 8 a 20 dígitos.
                        </p>

                        <div class="contenedor-enviar-reset">
                            <a href="/users/dashboard"><button type="button" class="boton" >ATRAS</button></a>
                            <a  href="/users/dashboard"><button id="submit-btn" type="submit" class="boton">GENERAR</button></a>
                            
                        </div>
        
                        </div>
                    </form>

                    
                </div>
            </section>
        </main>

        <%- include('../partials/footer')%>

</body>
<script src="/js/usersValidation/validationFrontCreate.js"></script>


</html>